body {
    font-family: Arial, serif;
}

.blog {
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    width: 95%;
    margin: auto;
    box-sizing: border-box;
}

.content {
    height: 500px;
    width: 400px;
    box-sizing: border-box;
    margin: 10px;
}

.content2 {
    height: 250px;
    width: 100%;
    box-sizing: border-box;
}